<div >
<label>City:</label> 
<input placeholder="Enter city name" [(ngModel)]="cityName">

<button mat-raised-button color="primary" (click) ="submitData(cityName); submitDataBox(cityName); show=!show" type="submit">Find Weather</button> 

<button mat-raised-button color="secondary" (click)="mow=!mow">{{mow ? 'Click to hide forecast' : 'Click for 5 day forecast'}}</button>

<img class="card-img-top" src="https://images.pexels.com/photos/459451/pexels-photo-459451.jpeg?auto=compress&cs=tinysrgb&h=350" alt="Card image cap">
</div>


<div *ngIf="show">
    <div class="card-body">
        <h5 class="card-title">{{weathers.name | uppercase}}</h5>
        <p class="card-text">{{ weathers.weather[0].main }}</p>
        <h3 > {{ weathers.weather[0].description }}</h3>
        <span class="temperature">Temperature (celsius): {{ weathers.main.temp }} </span>
        <p class="card-text"><small class="text-muted">Wind speed (meter/sec): {{ weathers.wind.speed }}</small></p>
      </div>
      
</div>

<div *ngIf="mow">
    <p class="card-text">{{ forecasts.list[0].main.temp }}</p>
ijkjk
</div>